.skillbaricons{
    height: 4rem;
    width: 5rem;
    object-fit: cover;
    mix-blend-mode: lighten;    
}
.skillbars{
    display: grid;
    grid-template-columns: repeat(3,24rem);
    
}

.skillbar{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 2rem 2rem; 
    background-color: rgba(50,50,50);
    border-radius:7px;
    padding: 8px 4px;
    cursor: pointer;
    transition: all 0.8s;
    margin-left: 0px;
}
.skillbar:hover{
    transform: scale(1.05);
}

.skillcontent{
    margin-left:25px;
    
}


@media screen and (max-width: 425px) {
    .skillbars {
      display: grid;
      grid-template-columns: repeat(1, 22rem);
      width: 100%;
    

    }

    
.skillbar{
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 1.7rem 1.7rem; 
  background-color: rgba(50,50,50);
  border-radius:7px;
  padding: 8px 4px;
  cursor: pointer;
  transition: all 0.8s;
  
}
  }

  @media screen and (min-width: 425px) and (max-width:768px) {
    .skillbars {
      display: grid;
      grid-template-columns: repeat(2, 22rem);
     overflow: hidden;
    }
  }
  